<div class="register-container">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <label for="username">Username:</label>
      <input
        type="email"
        id="username"
        [(ngModel)]="username"
        name="username"
        required
        email
        #usernameInput="ngModel"
      />
      <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
        <small *ngIf="usernameInput.errors?.['required']">Username is required.</small>
        <small *ngIf="usernameInput.errors?.['email']">Enter a valid email.</small>
      </div>
  
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
      <button type="submit">Register</button>
      <p *ngIf="error">{{ error }}</p>
    </form>
    <div class="login-container">
      <button (click)="redirectToLogin()">Back to Login</button>
    </div>
  </div>
  